body{
  background-color: black;
}
.calculation{
  color: white;
  margin: 2px;
  font-size: 30px;
}
button{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: white;
}
.yellow-button{
  background-color: rgb(255, 166, 0);
}
.grey-button{
  background-color: rgb(88, 88, 88);
}
.clear-button{
  background-color: rgb(88, 88, 88);
  font-size: 16px;
}